.react-calendar__viewContainer {
  background-color: white;
}

/* .button-active {
  background-color: #5b75a6;
  color: white;
  border: none;
  border-radius: 100rem;
  padding: 0.5rem;
} */

.react-calendar__navigation__label {
  border: none;
  font-size: 2rem;
  margin: 0 2rem 0 2rem;
  background-color: transparent;
  color: #5b75a6;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  border: none;
  background-color: transparent;
  font-size: 2.2rem;
}

.react-calendar__month-view__days__day--weekend {
  color: red;
}

.react-calendar__tile {
  margin: 0;
  border: 0;
}
